<div class="container">
    <span>
        <%= form_tag(book_path, method: :get) do %>
            <%= text_field_tag :search, params[:book] %>
            <%= submit_tag 'Search', name: nil %>
        <% end %>
    </span>
    <div class="jumbotron">
        <table>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Location</th>
            </tr>
            <% @books.each do |book| %>
            <tr>
                <td><%= book.title %></td>
                <td><%= book.author %></td>
                <td><%= book.library %></td>
            </tr>
            <% end %>
        </table>
    </div>
</div>


<input class="form-control mr-sm-2" type="search" placeholder="IGNORE THIS" aria-label="Search">
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Go</button>