<nav class="navbar navbar-light bg-light ">
    <!-- catalog search -->
    <span class="navbar-text">
        <%= form_tag(book_items_path, method: :get, class: "form-inline my-2 my-lg-0") do %>
            <%= text_field_tag(:search, params[:search], placeholder: "Filter by title", class: "form-control mr-sm-2") %>
            <%= submit_tag 'Search', name: nil, class:"btn btn-outline-success my-2 my-sm-0" %>
        <% end %>
    </span>
    <!-- //catalog search-->
</nav>

<div class="jumbotron ">
    <div class="container">
        <h4 class="text-center text-success">Book titles available within our system</h4>
        <table class="table">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Genre</th>
                <th scope="col">Location</th>
            </tr>
            <% @book_items.each do |bi| %>
            <tr>
                <td scope="row"><%= link_to "#{bi.book.title}", book_item_path(bi) %></td>
                <td><%= "#{bi.book.author.first_name} #{bi.book.author.last_name}" %></td>
                <td><%= link_to "#{bi.location.name}", location_path(bi.location) %></td>
                <td><%= bi.book.genres[0].title %></td>
            </tr>
            <% end %>
        </table>
    </div>
</div>

