<div class="jumbotron">
    <h2 class="text-center">Welcome to the <%= @location.name %> library portal</h2>
    <h4 class="text-center text-success">Book titles available at <%= @location.name %>  </h4>
    <table class="table">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Location</th>
            <th scope="col">Genre</th>
        </tr>
        <% @book_items.each do |bi| %>
        <tr>
            <td scope="row"><%= link_to "#{bi.book.title}", book_item_path(bi) %></td>
            <td><%= "#{bi.book.author.first_name} #{bi.book.author.last_name}" %></td>
            <td><%= bi.location.name %></td>
            <td><%= bi.book.genres[0].title %></td>
            <% if bi.available %>
            <td><%= button_to "Checkout Book", checkout_records_path(bi.id), params: {book_item: bi}, method: :post, class: "btn btn-warning" %></td>
            <% else %>
            <td>currently checked out</td>
    <% end %>
        </tr>
        <% end %>
    </table>
</div>