<!DOCTYPE html>
<html>
  <head>
    <title>LibraryApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/catalog">Library Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <!-- dropdown -->
            <form>
              <select class="form-control" onchange="window.location=this.value">
                <option>Select a Branch</option>
                <% @locations.each do |c| %> 
                  <option value="<%= request.base_url %>/locations/<%= c.id %>"><%= c.name %></option>
                <% end %>
              </select>
            </form>
            <!-- //dropdown -->
          </ul>
          <span class="navbar-text mr-2">
          <% if signed_in? %>
          Signed in as: <%= current_user.email.split('@')[0] %>
          </span>
          <!-- login stuff -->
          <span class="navbar-text">
              <%= button_to 'Sign out', sign_out_path, method: :delete, class: "btn btn-outline-success" %>
            <% else %>
              <%= link_to 'Sign in', sign_in_path, class: "btn btn-outline-success" %>
            <% end %>
          </span>
          <!-- //login stuff -->
        </div>
      </nav>
    <section>
      <%= yield %>
    </section>
  </body>
</html>
