<!DOCTYPE html>
<html>
  <head>
    <title>LibraryApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h4>Library Portal</h4>
          </div>
          <div class="col-sm-6">
            <% if signed_in? %>
              Signed in as: <%= current_user.email %>
              <%= button_to 'Sign out', sign_out_path, method: :delete %>
            <% else %>
              <%= link_to 'Sign in', sign_in_path %>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <section>
      <%= yield %>
    </section>
  </body>
</html>
